version: '3.8'

services:
  bot:
    build: .
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - GUILD_ID=${GUILD_ID}
      - ROLE_CHANNEL_ID=${ROLE_CHANNEL_ID}
      - NOTIFICATION_CHANNEL_ID=${NOTIFICATION_CHANNEL_ID}
      - STATS_CHANNEL_ID=${STATS_CHANNEL_ID}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}

  postgres:
    build:
      context: ./database
      dockerfile: Dockerfile  # Dockerfile в папке database
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}